$black: #000;
$white: #fff;
$lightpurple: #865cd2;
$fontpurple: #caadff;
$purple: #673AB7;
$gold: #C5AB67;
$beige: #EEE8E0;
$blue: #2997FF;
$lightblue: #e2e8f0;
$grey: #3b3a46;
$bluegrey: #73849a;

$paragraph: 'Mulish', sans-serif;
// $header: 'Mulish', sans-serif;
$header: 'Catamaran', sans-serif;


// Breakpoints
$breakpoint-sm: 360px;
$breakpoint-md: 821px;
$breakpoint-lg: 990px;
$breakpoint-xl: 1200px;