$black: #000;
$white: #fff;
$lightpurple: #865cd2;
$fontpurple: #caadff;
$purple: #673AB7;
$gold: #C5AB67;
$beige: #EEE8E0;
$blue: #2997FF;
$lightblue: #e2e8f0;
$lightgrey: #d5d5d5;
$grey: #3b3a46;
$bluegrey: #73849a;


$teal: #08d0c6;
$teal-light: #1bfff4;
$light-blue: #b2bbce;
$light-seaweed: #9bb9b6;
$bright-seaweed: #c2e2df;
$dust-yellow: #ffdc79;

$paragraph: 'Source Serif Pro', serif;
// $header: 'Mulish', sans-serif;
$header: 'Montserrat', sans-serif;

// font-family: 'Montserrat', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Source Serif Pro', serif;
// Breakpoints
$breakpoint-sm: 360px;
$breakpoint-md: 821px;
$breakpoint-lg: 990px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;