@import "../../variables.scss";

.contentmodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 1200px;
    background-color: rgba(255, 255, 255, 0.95);
    height: 70vh;
    width: 95%;
    padding-bottom: 10px;
    z-index: 1000000;
    box-shadow: 1px 1px 3px -2px rgba(0, 0, 0, 0.55);

    @media (min-width: $breakpoint-md) {
      width: 75%;
    }

    &__exit {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;

      @media (min-width: $breakpoint-md) {
        top: 10px;
        right: 20px;
      }

      svg {
        font-size: 2.3rem;
      }
    }

    &__title {
      position: absolute;
      top: 10px;
      left: 20px;
      margin: 5px 20px;
    }
}

.favourites {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 60vh;
  margin-bottom: 10px;

  &__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid $lightblue;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      height: 100px;
    }

    &--title {
      height: 50px;
      font-weight: 600;
      display: none;

      @media (min-width: $breakpoint-md) {
        display: flex;
      }
    }
  }

  &__column {
    width: 95%;
    display: flex;
    justify-content: flex-start;

    @media (min-width: $breakpoint-md) {
      width: calc(100% / 7);
      justify-content: center;
    }

    h4 {
      font-weight: 600;
      margin-right: 5px;

      @media (min-width: $breakpoint-md) {
        display: none;
      }
    }

    img {
      width: 100%;
      height: 200px;
      margin-top: 5px;
      object-fit: cover;
      cursor: pointer;

      @media (min-width: $breakpoint-md) {
        width: 90px;
        height: 90px;
        margin: 5px;
      }
    }

    svg {
      cursor: pointer;
    }

    &--delete {
      justify-content: flex-end;

      @media (min-width: $breakpoint-md) {
        justify-content: center;
      }
    }
  }
}