@import "../../variables.scss";
@supports (-moz-appearance:none) {
  .content { 
    transform: none;

   } 
}
.content {
  position: inherit;
  margin: 10px auto;
  width: 100%;
  background-color: $white; 
  box-shadow: 2px 3px 5px -2px rgba(0, 0, 0, 0.65);

  @media (min-width: $breakpoint-md) {
    position: sticky;
    margin-top: 160px;
    margin-bottom: 40px;
    left: 31%;
    width: 38%;
    padding: 5px;
  }


  &__title {
    margin: 5px 0px;
    padding: 0 10px;
    font-weight: 700;
    border-top: 1px solid #e2e8f0;
    border-bottom: 1px solid #e2e8f0;
  }
}
