@import "../../variables.scss";

#audio {
  display: block;
  height: 130px;
  margin-top: -130px;
  visibility: hidden;
}

.content {
  &__audio {
    margin: 5px;
    padding: 15px 0px;
    
    &__list {
      margin: 5px 10px;
      color: $blue;
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      border: 1px solid $lightblue;

      li {
        width: 50%;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__description {
    padding: 10px;
  }
}