@import "../../variables.scss";

.profilenav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 400;
  width: calc(40% - 50px);
  height: 30px;
  color: black;
  background-color: white;

  &__link {
    padding: 2px 5px;
    font-weight: 600;
    text-decoration: underline;
    color: $gold;

    &:hover {
      color: $black;
    }
  }
}