@import "../../variables.scss";

.info {
  &__content {
    &__searcher {
      margin-top: 25px;
    }
  }

  &__nav {
    margin: 15px 0; 

    &__button {
      padding: 5px 15px;
      margin: 0 auto;
      width: calc(100% - 10px);
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      border-bottom: 1px solid $light-seaweed;
      transition: all ease-in-out 0.2s;

      @media (min-width: $breakpoint-sm-md) {
        justify-content: space-between;
      }

      &:hover {
        background-color: $light-seaweed;
      }

      &__text {

      }

      svg {
        font-size: 1em;
        margin-right: 5px;
      }
    }
  }
}

.tooltip {
  z-index: 5000;
}