@import "../../variables.scss";

.profile {
  width: 100%;
  min-height: 100vh;

  @media (min-width: $breakpoint-md) {
  }

  &__content {
    position: relative;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
    @media (min-width: $breakpoint-md) {
      position: relative;
      width: 70%;
      flex-direction: row;
    }
  }

  &__scroll {
    position: fixed;
    bottom: 30px;
    right: 27%; 
    cursor: pointer;

    svg {
      font-size: 3rem;

      &:hover {
        color: orange;
      }
    }
  }
}

