@import "../../variables.scss";

.content {
  &__news {
    width: 100%;
    padding: 10px;

    &__title {
      font-size: 18px;
    }
  }
}

#news {
  display: block;
  height: 130px;
  margin-top: -130px;
  visibility: hidden;
}