@import "../../variables.scss";

.content {
  &__cv {
    margin-bottom: 10px;
    
    &__acting {
      width: 95%;
      margin: 5px auto;
      background-color: whitesmoke;
      border-radius: 3px;
      padding: 10px;
    }

    &__skills {
      margin: 15px;
    }
  }

  &__header {
    margin: 10px;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid $lightblue;
  }
}
