@import "../../variables.scss";

.content {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%, -0%);
  width: 50%;
  margin-bottom: px;
  background-color: $white; 
  box-shadow: 2px 3px 5px -2px rgba(0, 0, 0, 0.65);

  @media (min-width: $breakpoint-md) {
  }
}
