@import "../../variables.scss";

.about {
  &__content {
    &__project {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 5px;
      margin: 5px;
      border-bottom: 1px solid $light-seaweed;
      cursor: pointer;

      &:hover {
        background-color: $light-seaweed;
      }

      &__icons {
        svg {
          color: $gold;
          margin: 0 2px;

          &:hover {
            color: $grey;
          }
        }
      }
    }
  }
}