@import "../../variables.scss";

.talent-registration {
  h2 {
    font-size: 21px;
    margin: 5px 0;
  }

  p {
    font-style: italic;
    color: gray;
    font-size: 11px;
    margin: 4px;
  }
  .MuiTypography-root {
    color: rgba(0, 0, 0, 0.54);
  }
  .MuiIconButton-label {
    color: rgba(0, 0, 0, 0.54);
  }
  .MuiButtonBase-root {
    margin-top: 2%;
  }
}

.MuiAccordianDetails-root {
  display: block!important;
}

.MuiAccordionSummary-content {
  margin: 0;
}

.talent-registration-contact {
  .talent-subfield {
    display: grid;
    row-gap: 1em;
    column-gap: 1em;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "a a a a"
    "b b c c"
    "d d e e"
    "f f f f"
    "g g g g";
    
    .address {
      grid-area: a;
    }
    .city {
      grid-area: b;
    }
    .postal {
      grid-area: c;
    }
    .state {
      grid-area: d;
    }
    .country {
      grid-area: e;
    }
    .phone {
      grid-area: f;
    }
    .e-mail {
      grid-area: g;
    }
  }
}


.talent-registration-about {
  .talent-subfield {
    display: grid;
    row-gap: 1em;
    column-gap: 1em;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "a a a a"
    "b b b b"
    "c c c c"
    "d d e e"
    "f f g g"
    "h h i i"
    "j j - -";

    .name {
      grid-area: a;
    }
    .biography {
      grid-area: b;
    }
    .education {
      grid-area: c;
    }
    .training {
      grid-area: d;
    }
    .citizenship {
      grid-area: e;
    }
    .passport {
      grid-area: f;
    }
    .workPermit {
      grid-area: g;
    }
    .imdb {
      grid-area: h;
    }
    .birth {
      grid-area: i;
    }
    .profession {
      grid-area: j;
    }
  }
}

.talent-registration-appearance {
  .talent-subfield {
    display: grid;
    row-gap: 1em;
    column-gap: 1em;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "a a b b"
    "c c d d"
    "e e f f"
    "i i - -"
    "g g h h";

    .age {
      grid-area: a;
    }
    .hairColor {
      grid-area: b;
    }
    .hairLength {
      grid-area: c;
    }
    .eyeColor {
      grid-area: d;
    }
    .gender {
      grid-area: e;
    }
    .ethnicity {
      grid-area: f;
    }
    .piercings {
      grid-area: g;
    }
    .tattoos {
      grid-area: h;
    }
    .nudity {
      grid-area: i;
    }
  }
}

.talent-registration-measurements {
  .talent-subfield {
    display: grid;
    row-gap: 1em;
    column-gap: 1em;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
  }
}

.talent-registration-experience {
  .talent-subfield {
    display: grid;
    row-gap: 1em;
    column-gap: 1em;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
  }
  .resumé {
    grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 2;
  }
}

.talent-registration-social {
  .media-field {
    display: grid;
    row-gap: 1em;
    column-gap: 1em;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    margin: 0;
  }
  h3 {
    color: rgba(0, 0, 0, 0.85);
  }
}

.talent-registration-credits {
  .talent-subfield {
    display: grid;
    row-gap: 1em;
    column-gap: 1em;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
  }
}

.talent-registration-media {
  .talent-subfield {
    display: grid;
    row-gap: 1em;
    column-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.talent-registration-representation {
  .talent-subfield {
    display: grid;
    row-gap: 1em;
    column-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

.talent-registration-union {
  .talent-subfield {
    display: grid;
    row-gap: 1em;
    column-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

.talent-registration-athletic {
  margin: 0 2%;
  .MuiFormLabel-root {
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
  }
  .MuiFormControl-root {
    .MuiInput-root {
      padding-bottom: 3%;
    }
  }
}

.talent-registration-skills {
  margin: 0 2%;
  .MuiFormLabel-root {
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
  }
  .MuiFormControl-root {
    .MuiInput-root {
      padding-bottom: 3%;
    }
  }
}

.talent-registration-accents {
  margin: 0 2%;
  .MuiFormLabel-root {
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
  }
  .MuiFormControl-root {
    .MuiInput-root {
      padding-bottom: 3%;
    }
  }
}

.talent-registration-languages {
  margin: 0 2%;
  .MuiFormLabel-root {
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
  }
  .MuiFormControl-root {
    .MuiInput-root {
      padding-bottom: 3%;
    }
  }
}

.talent-registration-additional {
  margin: 0 2%;
  .MuiFormLabel-root {
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
  }
  .MuiFormControl-root {
    .MuiInput-root {
      padding-bottom: 3%;
    }
  }
}

.talent-registration-disabilities {
  margin: 0 2%;
  .MuiFormLabel-root {
    color: rgba(0, 0, 0, 0.85);
    font-size: 18px;
  }
  .MuiFormControl-root {
    .MuiInput-root {
      padding-bottom: 3%;
    }
    .MuiInputBase-root {
      .MuiInput-underline:before {
        border-bottom: 1px solid rgba(0, 0, 0, 0.20)!important;
      }
    }
  }
}

.athleticEndeavors {
  .MuiTextField-root {
    border: none;
  }
}

