@import "../../variables.scss";

p {
  font-family: $paragraph;
}

h2 {
  font-family: $header;
}

h3 {
  font-family: $header;
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-family: $header;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}

h5 {
  font-family: $header;
  font-size: 11px;
  text-transform: uppercase;
}
