@import "../../variables.scss";

.info {
  position: inherit;
  width: 100%;
  margin-top: 50px;
  padding-bottom: 10px;
  background-color: $white;
  box-shadow: 2px 3px 5px -2px rgba(0, 0, 0, 0.25);
  z-index: 5000;

  @media (min-width: $breakpoint-md) {
    margin-top: 0;
    position: fixed;
    top: 120px;
    left: 15px;
    width: 250px;
    transform: none;
  }

  @media (min-width: $breakpoint-lg) {
    left: 14%;
    transform: translate(-50%, 0);
  }
  
  @media (min-width: $breakpoint-xl) {
    left: 15%;
  }

  @media (min-width: $breakpoint-xxl) {
    left: 17%;
  }

  &__header {
    position: relative;
    width: 100%;

    &__banner {
      width: 100%;
      height: 125px;
      object-fit: cover;
    }

    &__profileimg {
      position: absolute;
      top: 5px;
      left: 5px;
      border-radius: 50%;
      border: 5px solid $white;
      width: 150px;
      height: 150px;
      object-fit: cover;
      box-shadow: 2px 3px 5px -2px rgba(0, 0, 0, 0.65);

      @media (min-width: $breakpoint-md) {
        width: 120px;
        height: 120px;
      }
    }

    svg {
      position: absolute;
      right: 0;
      top: 0;
      color: white;
      font-size: 1.5rem;
    }
  }

  &__navigation {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid $bright-seaweed;

    svg {
      margin: 5px;
      font-size: 1.7rem;
      color: #2c2d33;
      transition: all ease-in-out 0.3s;
      cursor: pointer;

      &:hover {
        color:$teal-dark;
      }
    }
  }

  &__content {
    padding: 0 10px;

    h2 {
      font-size: 24px;
      font-weight: 600;
    }

    h3 {
      font-size: 16px;
      border-bottom: 1px solid $light-seaweed; 
    }

    svg {
      color: $grey;
    }

    &__attributes {
      display: flex;
      margin-top: 5px;

      &__text {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 5px;
        width: 100%;

        @media (min-width: $breakpoint-md) {
          flex-direction: column;
        }
        
        article {
          display: flex;
          width: calc(50% - 10px);
          margin: 0 5px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          @media (min-width: $breakpoint-md) {
            width: 100%;
          }

          h4 {
            font-weight: 600;
          }

          p {
            text-transform: capitalize;
            margin-left: 5px;
          }
        }
      }
    }

      svg {
        margin-right: 5px;
      }

      &__text {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-transform: capitalize;
        letter-spacing: 1.5px;
      }
    }

    &__footer {
      &__button {
        width: calc(100% - 20px);
        padding: 5px 15px;
        margin: 25px 10px;
        background-color: $dust-yellow;
        border-radius: 4px;
        box-shadow: 2px 3px 5px -2px rgba(0, 0, 0, 0.25);
        transition: ease-in-out 0.3s;

        &:hover {
          background-color: $dust-yellow-dark;
        }

        &--content {
          background-color: $teal-dark;
          color: $white;

          &:hover {
            background-color: $teal;
          }
        }
      }
    }
  }
  .premium {
    &__profile {
      position: absolute;
      bottom: 30px;
      right: 18px;
    }
  }
