@import "../../variables.scss";

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 300px;
  padding: 5px;
  background-color: $white;
   
  &__wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: $header;
    text-align: center;


    @media (min-width: $breakpoint-md) {
      text-align: -webkit-center;
    }

    h2 {
      font-family: $header;
      font-size: 18px;
      margin: 30px auto;
      max-width: 530px;

      @media (min-width: $breakpoint-md) {
        font-size: 24px;
        margin: 0 auto 30px auto;
      }
    }

    &__signup {
      display: flex;
      align-items: center;
      justify-content: center;

      h3 {
        font-weight: 600;
        color: $blue;
      }

      svg {
        margin-left: 4px;
      }
    }

    p {
      font-size: 16px;
      margin: 15px auto 0 auto;
      padding: 0 5px;
      max-width: 550px;

      @media (min-width: $breakpoint-md) {
        margin: 75px auto 0 auto;
      }
    }
  }
}