@import "../../variables.scss";

.jumbotron {
  position: relative;
  margin-top: 50px;
  z-index: 1;

  &__image {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    filter: brightness(50%);

    @media (min-width: $breakpoint-md) {
      height: 470px;
		}
  }

  &__title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-family: $header;
    font-size: 22px;
    color: $white;
    max-width: 660px;
    font-weight: 500;

    @media (min-width: $breakpoint-md) {
      width: 70%;
      font-size: 32px;
		}

    @media (min-width: $breakpoint-lg) {
      width: 55%;
      font-size: 42px;
		}
  }

  &__buttons {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    max-width: 500px;
    text-align: center;
    width: 100%;

    @media (min-width: $breakpoint-lg) {
      width: 50%;
    }

    &__button {
      margin: 10px;
      padding: 5px 20px;
      width: 45%;
      border-radius: 3px;
      color: $black;
      font-family: "Mulish", sans-serif;
      font-size: 16px;
      text-transform: capitalize;
      transition: ease-in-out 0.5s;
      margin: 5px auto;

      &--dog {
        background-color: $teal;
        font-weight: bold;
        box-shadow: 1px 1px 3px -2px rgba(0, 0, 0, 0.55);
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        text-transform: uppercase;

        svg {
          position: absolute;
          font-size: 1.8rem;
        }
        &:hover {
          background-color: $teal-light;
        }
      }
      &--learn {
        color: $white;
        font-style: italic;
        font-weight: 600;
        transition: ease-in-out 0.1s;

        &:hover {
          color: $dust-yellow;
          text-decoration: underline;
        }
      }
    }
  }
}

.react-slideshow-container {
  .default-nav {
    display: none;
  } 
}

.each-slide > article {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}