@import "../../variables.scss";

.jumbotron {
  position: relative;
  margin-top: 50px;
  z-index: 1;

  &__image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    filter: brightness(50%);

    @media (min-width: $breakpoint-md) {
      height: 470px;
		}
  }

  &__title {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
    font-family: $serif;
    font-size: 22px;
    color: $white;
    max-width: 660px;

    @media (min-width: $breakpoint-md) {
      width: 55%;
      font-size: 42px;
		}
  }

  &__buttons {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    max-width: 500px;
    text-align: center;
    width: 100%;

    @media (min-width: $breakpoint-lg) {
      width: 50%;
    }

    &__button {
      margin: 10px;
      padding: 5px 20px;
      width: 45%;
      border-radius: 3px;
      color: $black;
      font-family: "Mulish", sans-serif;
      font-size: 16px;
      text-transform: capitalize;
      transition: ease-in-out 0.5s;
      margin: 5px auto;

      &--talent {
        background-color: $beige;
        font-weight: bold;
        box-shadow: 1px 1px 3px -2px rgba(0, 0, 0, 0.55);
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        svg {
          position: absolute;
          left: 190px;
        }
        &:hover {
          background-color: $white;
        }
      }
      &--learn {
        color: white;
      }
    }
  }
}