@import "../../variables.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 0px 10px;
  background-color: $black;
  box-shadow: 1px 1px 3px -2px rgba(0, 0, 0, 0.55);

  @media (min-width: $breakpoint-md) {
    height: 50px;
  }

  &__logo {
    width: auto;
    height: 50px;
    color: white;
  }

  &__burger {
    display: block;
    position: absolute;
    right: 10px;
    top: 0px;
    color: $white;
    font-size: 2em;

    @media (min-width: $breakpoint-md) {
			display: none;
		}
  }
}
.main {
  &__section {
    &__menu {
      svg {
        font-size: 2rem;
      }
    }
  }
}