@import "../../variables.scss";

.searchengine {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    margin: 0 auto;
    width: 100%;
    background-color: $beige;
    box-shadow: 2px 3px 5px -2px rgba(0, 0, 0, 0.65);
    font-family: $paragraph;
    flex-direction: column;

    &__button {
        text-align: center;
        margin: 10px 16px;
        padding: 2px 20px;
        border-radius: 3px;
        color: white;
        font-family: "Mulish", sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        transition: ease-in-out 0.5s;
        box-shadow: 1px 1px 3px -2px rgba(0, 0, 0, 0.55);
        background-color: $grey;
        width: 90%;
    }

    .wrapper__picklists {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        justify-content: left;
        text-transform: capitalize;
        width: 100%;

        .personal {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .picklist {
            text-align: left;

            .MuiTextField-root {
                background-color: #f4f4f4;
            }
                
        }

        .MuiTypography-gutterBottom {
            white-space: nowrap;
        }
    }
}

.searchtitle {
    display: flex;
    flex-wrap: wrap;
    padding: 0 25px 25px 0;
    width: 100%;
    font-family: $header;
    font-size: 32px;
}

.option__picklist {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
    width: calc(25% - 10px);
    margin: 5px;
}

.filterwrapper {
    // max-width: 70%;
    width: -webkit-fill-available;
    max-width: 100%;
    padding: 15px;
    margin: 0 auto;

    @media (min-width: $breakpoint-sm-md) {
        width: 70%;
    }

    @media (min-width: $breakpoint-md) {
        width: auto;
    }
}

.MuiCardContent-root {
    margin-top: 0px!important;
}

.gender {
    width: 100%;
}