@import "../../variables.scss";

.filtercomponent {
    background-color: $lightblue !important;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

.expand__button {
    display: flex !important;
    margin: 0 auto !important;
    padding: 3px !important; 
}

.MuiCardActions-root {
    justify-content: flex-end;
}

.search-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .professionYears {
        width: 100%;
    }
    * {
        margin: 1% 0;
    }
}

.search-appearance {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .ethnicity {
        width: 100% !important;
    }
    .bodyModifications {
        width: 100% !important;
    }
}

.search-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-measurements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: fit-content;
}

.MuiTypography-gutterBottom {
    margin-bottom: 0em !important;
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    .MuiAutocomplete-input {
        padding: 2.5px 4px!important;
    }
}

// .MuiInputLabel-outlined {
//     transform: translate(14px, 14px) scale(1)!important;

//     .MuiInputLabel-shrink {
//         transform: translate(14px, -6px) scale(0.75)!important;
//     }
// }

.slider {
    width: calc(100% - 20px);
}

.mx-8 {
    margin: 0 auto!important; 

    .age {
        width: calc(100% - 20px);
        margin: 0 auto!important;
    }
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon {
    .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
        background-color: white!important;
    }
}

.MuiOutlinedInput-input {
    padding: 11.5px 14px!important;
    background-color: white;
}

.flex-row {
    flex-direction: column;
    // width: 90%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    @media (min-width: $breakpoint-md) {
        flex-direction: row;
    }

    @media (min-width: $breakpoint-xxl) {
        max-width: 1800px;
    }
}

.card__title {
    padding-bottom: 0px!important;
}