@import "../../variables.scss";

.filtercomponent {
    max-width: 340px;
    background-color: $bright-seaweed!important;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;

    @media (min-width: $breakpoint-md) {
        max-width: 530px;
        min-width:320px
    }
    @media (min-width: $breakpoint-lg) {
        max-width: 380px;
    }
}

.expand__button {
    display: flex !important;
    margin: 0 auto !important;
    padding: 3px !important; 
}

.MuiCardActions-root {
    justify-content: flex-end;
}

.search-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    * {
        margin: 1% 0;
    }
}

.MuiTypography-gutterBottom {
    margin-bottom: 0em !important;
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    .MuiAutocomplete-input {
        padding: 2.5px 4px!important;
    }
}

.slider {
    width: calc(100% - 20px);
}

.mx-8 {
    margin: 0 auto!important; 

    .age {
        width: calc(100% - 20px);
        margin: 0 auto!important;
    }
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon {
    .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
        background-color: white!important;
    }
}

.MuiOutlinedInput-input {
    padding: 11.5px 14px!important;
    background-color: white;
}

.flex-row {
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    @media (min-width: $breakpoint-md) {
        flex-direction: row;
    }

    @media (min-width: $breakpoint-xxl) {
        max-width: 1800px;
    }
}

.card__title {
    padding-bottom: 0px!important;
}

.MuiInputLabel-formControl-173 {
    top: -7px !important;
}

.MuiOutlinedInput-input-190 {
    padding: 12.5px 14px !important;
}

.MuiInputBase-root-195 {
    background-color: white;
}

