@import "../../variables.scss";

.dogwrapper {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: 5% auto 0 auto;
    justify-content: center;
    width: 70%;
    
    @media (min-width: $breakpoint-lg) {
			justify-content: flex-start;
    }
  }

.MuiPagination-root {
  width: 100%;
} 

.MuiPagination-ul {
  justify-content: center;
}