@import "../../variables.scss";

.dogwrapper {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 5% auto;

    @media (min-width: $breakpoint-md) {

    }

    @media (min-width: $breakpoint-lg) {
      margin: 9% auto;
    }
    
    @media (min-width: $breakpoint-xl) {
      justify-content: flex-start;
      width: 70%;
      margin: 5% auto;
    }
  }

.MuiPagination-root {
  width: 100%;
} 

.MuiPagination-ul {
  justify-content: center;
}